main {
    padding: 5rem 1.5rem;
}

main {
    display: flex;
    flex-wrap: wrap;

    height: calc(100vh - 60px);
}

main > * {
    flex: 1 1 50%;

    padding: 0.3rem 1.2rem;

    height: 100%;
}

#viewer-filters {
    flex-basis: 100%;
    flex-shrink: 0;

    height: 140px;
}

#viewer-items {
    flex-basis: 40%;
    max-width: 40em;

    overflow-y: auto;
}

#slider-container {
    height: 75px;
}

#slider {
    width: 100%;
}

.leaflet-popup-content h1 {
    font-size: larger;
}

.hidden {
    display: none;
}

.noUi-handle {
    width: 46px !important;
    cursor: grab;
}

.noUi-handle::before,
.noUi-handle::after {
    display: none;
}

.modal-xl {
    max-width: 1200px;
}

#viewer-item-preview .img-fluid {
    max-height: 50vh;
}

.item-listing {
    padding: 4px;
    height: 90px;
    overflow: hidden;
}

.item-listing > a {
    display: flex;
    align-items: center;
}

.item-listing .thumbnail {
    flex: 0 0 90px;

    height: 80px;
    width: 90px;
    margin: 0 8px 0 0;

    background-repeat: no-repeat;
    background-size: cover;
}
